.root {
    -fx-background-color: #1e1e2f;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.button {
    -fx-background-color: #3a86ff;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10;
    -fx-background-radius: 8;
}

.button:hover {
    -fx-background-color: #265dbe;
}

.text-field, .password-field {
    -fx-background-color: #2a2a40;
    -fx-text-fill: white;
    -fx-border-color: #3a86ff;
}